* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    height: 800px;
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "top-left top-middle top-right" "bottom-left bottom-middle bottom-right";
    grid-gap: 10px;
}

.top-left {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.top-middle {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
}

.top-right {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: repeat(4, 1fr);
}

.bottom-left {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 2fr 2fr 2fr 1fr 2fr;
    grid-template-columns: repeat(3, 1fr);
}

.bottom-middle {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: repeat(2, 1fr);
}

.bottom-right {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.container .top-left {
    grid-area: top-left;
}

.container .top-middle {
    grid-area: top-middle;
}

.container .top-right {
    grid-area: top-right;
}

.container .bottom-left {
    grid-area: bottom-left;
}

.container .bottom-middle {
    grid-area: bottom-middle;
}

.container .bottom-right {
    grid-area: bottom-right;
}

.top-left div, .bottom-right div {
    background: blue;
}

.top-middle div, .bottom-left div {
    background: antiquewhite;
}

.top-right div, .bottom-middle div {
    background: yellow;
}

.row1 {
    grid-row: 1fr;
}

.row2 {
    grid-row: span 2;
}

.row3 {
    grid-row: span 3;
}

.col1 {
    grid-column: 1fr;
}

.col2 {
    grid-column: span 2;
}

.col3 {
    grid-column: span 3;
}

.col4 {
    grid-column: span 4;
}