*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid; 
    grid-template-areas: "col-220 col-220 col-220-2 col-220-2 col-220-3 col-220-3 col-220-4 col-220-4"
                         "col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8"  
                         "col-700 col-700 col-700 col-700 col-700 col-700 col-220-5 col-220-5"
                         "col-220-6 col-220-6 col-700-2 col-700-2 col-700-2 col-700-2 col-700-2 col-700-2"
                         "col-460 col-460 col-460 col-460 col-460-2 col-460-2 col-460-2 col-460-2";
    grid-template-rows: 220px 100px 220px 220px 220px;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-gap: 10px;
}
.container div {
    background-color: rgb(225, 225, 225);
}
.col-220{
    grid-area: col-220;
}
.col-220-2 {
    grid-area: col-220-2;
}
.col-220-3 {
    grid-area: col-220-3;
}
.col-220-4 {
    grid-area: col-220-4;
}
.col-220-5{
    grid-area: col-220-5;
}
.col-220-6{
    grid-area: col-220-6;
}
.col-1 {
    grid-area: col-1;
}

.col-2 {
    grid-area: col-2;
}

.col-3 {
    grid-area: col-3;
}
.col-4 {
    grid-area: col-4;
}
.col-5 {
    grid-area: col-5;
}
.col-6 {
    grid-area: col-6;
}
.col-7 {
    grid-area: col-7;
}
.col-8 {
    grid-area: col-8;
}

.col-700{
    grid-area:col-700;
}
.col-700-2{
    grid-area: col-700-2;
}
.col-460{
    grid-area:col-460;
}
.col-460-2  {
    grid-area: col-460-2;
}