.wrapper{
    display: flex;
    flex-direction: column;
    
    
}

.row{
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.cell{
    
    margin: 5px;
    background: green;
}


.col-220 {
    width:220px;
    height: 200px;
}
.col-100{
    width:100px;
    height: 100px;
}

.col-700{
    height: 200px;
    width: 700px;
}
.col-460{
    width: 460px;
    height: 200px;
}



