.btn{
    height: 32px;
    border-radius: 8px;
    width:100px;
}
.btn.primary{
    background-color:blue;
    color:white;
}
.btn.default{
    background-color: white;
    
}
.btn.dashed{
    border-style: dotted;
    background-color: white;
}
.btn.danger{
    color:red;
    background: #999;
}
.large{
    width:180px;
    height: 40px;
    font-size: 25px;
}
.small{
    width:80px;
    height: 20px;
    font-size:10px; 
    
}