main {
    margin: 0 auto;
    width: 600px;
}

.first-1 {
    float: left;
    width: 300px;
    background: sandybrown;
    height: 300px;
}

.first-2 {
    float: right;
    width: 300px;
    background: blue;
    height: 300px;
}

.center-1 {
    float: left;
    width: 300px;
    background: hotpink;
    height: 200px;
}

.center-2 {
    float: left;
    width: 300px;
    background: grey;
    height: 200px;
}

.bottom-left-1 {
    float: left;
    width: 100px;
    background:yellow;
    height: 200px;
}

.bottom-left-2 {
    float: left;
    width: 200px;
    background: teal;
    height: 200px;
}

.bottom-mid-1 {
    float: left;
    width: 200px;
    background: red;
    height: 150px;
}

.bottom-mid-2 {
    float: left;
    width: 200px;
    background: green;
    height: 50px;
}

.bottom-right-1 {
    float: right;
    width: 100px;
    background: blue;
    height: 200px;
}