body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.background img{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
    top:0;
    left:0;
    
    
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-75%);
    background-color: white;
    width: 450px;
    height: 200px;
    line-height: 35px;
    border-radius: 15px;
    
    padding: 4px;

    

}
.container .header a{
    position: absolute;
    top:15px;
    right: 10px;
    text-decoration: none;
    color:gray;
}
.container .header h1{
    font-size: 30px;
}

.main-text{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.container .buttons{
    position:absolute;
    bottom: 5px;
    right: 5px;
}
.container .cancel{
    background-color:white;
    color: gray;
    padding: 5px;
} 
.container .ok{
    background-color: blue;
    color:white;
    padding: 5px;
    width: 60px;
}